---
export interface Props {
	title: string;
	body: string;
	href: string;
	tag: string;
}

const { href, title, body, tag } = Astro.props;
---

<div class="profile-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
			<div class="tag">{tag}</div>
		</p>
	</a>
</div>
<style>
	.profile-card {
		list-style: none;
		display: flex;
		padding: 0.5rem;
		background-color: gray;
		background-image: none;
		border-radius: 0.2rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.1), 0 2px 2px -2px rgba(0, 0, 0, 0.1);
	}
	.profile-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.0;
		padding: 1rem 1.3rem;
		border-radius: 0.1rem;
		color: #3f5cd1;
		background-color: white;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #e70000;
	}
	.tag {
		padding: 0.8rem;
		margin: 1rem;
		background-color:blue;
		color:white;
	}
</style>
